<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="All Test Suite">
    <listeners>
        <listener class-name="abbeyLtd.TestComponent.Listeners"/>
    </listeners>
    <test thread-count="5" name="Submit Order Test">
        <classes>
            <class name="abbeyLtd.TestPage.SubmitOrderTest">
                <methods>
                    <include name="submitOrder"/>
                    <include name="orderHistoryTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test thread-count="5" name="Error Validations Test">
        <classes>
            <class name="abbeyLtd.TestPage.ErrorValidationsTest">
                <methods>
                    <include name="loginErrorValidation"/>
                     <include name="productErrorValidation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>